<!DOCTYPE html>
 <html>
 <head>
 	<style>
        body {background-color: rgb(7, 4, 4);}
        p    {color: rgb(255, 255, 255);}
p {
  border: 2px solid powderblue;
  padding: 30px;
}
.city {
  background-color: rgb(81, 82, 75);
  color: white;
  padding: 10px;
}
#myHeader {
  background-color: rgb(73, 38, 155);
  color: black;
  padding: 40px;
  text-align: center;
}
  <meta charset="utf-8">
 	<meta  name="viewport" content="width=device-width, initial-scale=1">
 	<title>LUVA DE PEDREIRO</title>
 </style>
 </head>
 <body>
      <a target="_blank" href="https://pt.wikipedia.org/wiki/Luva_de_Pedreiro">wki do Luva de Pedreiro</a>

      <h1 style="color:blue;">RECEBA</h1>

      <a href="#DEVOLVA">recebo</a>
      <div class="city">Melhor do mundo
      <p>RECEBA, é o melhor do mundo! Com um chute calibrado e frases simples, Iran Ferreira, 20 anos, o cara da luva de pedreiro, encantou e divertiu milhões de pessoas no Brasil 
        e no mundo.
Dono de um carisma sem igual, o jovem virou um fenômeno da internet. Com tamanho sucesso, o jovem passou a ter a carreira por Allan Jesus. Até aí, nada de anormal.
Porém, a sociedade passou a ser criticada por fãs e depois pelo próprio influencer.
</div>
<p>
  <a name="DEVOLVA"><h3>recebo</h3></a>
  <img src="img/ldp" width="500" height="600">
  <h1 id="myHeader">Meme pelo mundo</h1>
   
   
background-image:url(img/jão.jpg)


</body>
</html>